<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.5.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="Fare" version="2.1.1" targetFramework="net461" />
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.43" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.22.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Shouldly" version="3.0.2" targetFramework="net461" />
  <package id="SpecFlow" version="2.4.0" targetFramework="net461" />
  <package id="SpecRun.NUnit" version="1.8.5" targetFramework="net461" />
  <package id="SpecRun.Runner" version="1.8.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TestStack.Dossier" version="3.4.0" targetFramework="net461" />
</packages>